# When updating these, you may need to also update pyproject.toml
glfw>=1.4.0
numpy>=1.11
Cython>=0.27.2
imageio>=2.1.2
cffi>=1.10
fasteners~=0.15

# set PATH=C:\Users\CryLake\.mujoco\bin;%PATH%
# python -m pip install -U "mujoco-py<1.50.2,>=1.50.1"
# python -m pip install -U "mujoco-py<2.2,>=2.1"
# python GES.py --env_name "HalfCheetah-v2" --seed 0 --max_ep_len 1000 --num_workers 8 --max_iters 600 --sigma 0.05 --alpha 0.5 --learning_rate 0.003 --pop_size 20 --elite_size 10 --warm_up 20 --k 10
# set PATH=D:\Black-Box-Defense\env\lib\site-packages\mujoco_py\binaries\windows\mujoco210\bin;%PATH%